
<!DOCTYPE html>
<html lang="en">
<head>      <y></y>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <title>McJanssons Online™</title> <!-- Testkommentar! -->
    <m/eta charset="utf-8"/>
</head>
<body>
    <main>
        <figure id="header">
            <h1 id="header_text">Welcome to </h1>
            <img id="header_image" src="https://i.imgur.com/Ky4N6xe.png">  
        </figure>
        <section id="menuSection">
            <h3>Menu</h3>
            <p>Select what to order here.</p>
            <div id="menuGrid" class="wrapper">
                <div v-for="burger in menu">
                    <input type="checkbox" id="burger" :value="burger.name" v-model="selectedBurgers">
                    <h3><label for="burger"> {{ burger.name }} </label></h3></br>
                    <img v-bind:src="burger.imagePath" width="200">
                    <ul>
                        <li>{{ burger.kCal }} kCal</li>
                        <li v-if="burger.gluten">
                            Contains gluten
                        </li>
                        <li v-if="burger.lactose">
                            Contains lactose
                        </li>
                    </ul>  
                </div>
            </div>
        </section>

        
            <section>
                <form>
                <div id="delivery">
                <h3>Customer Information</h3>
                <p>Enter payment and delivery information here.</p>
                <h4>Delivery Information</h4>
                    <p>
                        <label for="fullname">Full name</label><br>
                        <input v-model="fullname" type="text" id="fullname" name="fn" required="required" placeholder="First- and last name" />
                    </p>
                    <p>
                        <label for="email">E-mail</label><br>
                        <input v-model="email" type="email" id="email" name="email" required="required" placeholder="E-mail address" />
                    </p>
                    <p>
                        <label for="street">Street</label><br>
                        <input v-model="streetname" type="text" id="street" name="streetname" placeholder="Street name" />
                    </p>
                    <p>
                        <label for="house">House</label><br>
                        <input v-model="housenumber" type="number" id="house" name="housenumber" placeholder="House number" />
                    </p>
                    <p>
                        <label for="payment">Payment options</label><br />
                        <select id="payment" name="Payment option" v-model="payment">
                            <option selected="selected">Credit Card</option>
                            <option>Swish</option>
                            <option>Cash</option>
                            <option>Gift Card</option>
                        </select>
                    </p>
                    <p id="submitSection">
                        <label for="gender">Gender</label><br>
                        <input type="radio" id="gender" name="gender" value="male" v-model="gender">Male<br>
                        <input type="radio" name="gender" value="female" v-model="gender">Female<br>
                        <input type="radio" name="gender" value="non-binary" v-model="gender">Non-Binary<br>
                        <input v-model="gender" type="radio" name="gender" value="undisclosed" checked="checked">Undisclosed<br>
                    </p>
                </form>
                <button v-on:click="markDone()" id="placeOrderButton" type="button">Place Order <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.iconexperience.com%2F_img%2Fg_collection_png%2Fstandard%2F512x512%2Fhamburger.png&f=1&nofb=1" width="25"/></button>
                <pre>
                    {{order}}
                    {{selectedBurgers}}
                </pre>
                </div>
            </section>
    </main>
    <footer><hr></hr>Copyright&copy;™ Herr™ Jansson™ &™ Co™&copy;</footer>
</body>
</html>