 body { /*Testkommentar!*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0 auto;
} 

#menu {
	background-color: #000000;
	color: white;
}

#delivery {}

.allergens {
    font-weight: bold;
}

table {
	align-self: center;
	width: 60%;
	margin: 0 auto;
}

section {
	margin: 0px;
	padding: 20px;
}

button {
	margin-top: 1cm;
}

button:hover {
	cursor: pointer;
}