 body { /*Testkommentar!*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0 auto;
} 

#menu {
	background-color: #000000;
	color: orange;
}

#delivery {}

.allergens {
    font-weight: bold;
}

table {
	align-self: center;
	width: 60%;
	margin: 0 auto;
}

section {
	margin: 20px;
	padding: 20px;
	border: dashed;
	border-radius: 5%;
}

button {
	margin-top: 1cm;
}

button:hover {
	cursor: pointer;
}

#header {
	color: orange;
	text-align: center;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
	margin-left: 20px;
}

#header_image {
	width: 100%;
	max-height: 8cm;
	opacity: 0.9;
}